html
   head
      title Signup
   body
      if(message)
         h4 #{message}
      form(action = "/users/login" method = "POST")
         input(name="email" type="text" required placeholder="example@ucac-icam.com")
         input(name="password" type="password" required placeholder="Password")
         input(type="submit" value="Log in")
